<!DOCTYPE html>
<html lang="en">
    <head>
        <%
        const pageTitle = 'Mii Height/Weight Calculator - InfiniMii';
        const pageDesc = 'InfiniMii is the most comprehensive Mii character repository and toolkit. Convert, share, and download Miis for all Nintendo systems. Learn about our mission and features.';
        const canonicalUrl = `${baseUrl}/calculator`;
        const keywords = 'calculate, calculator, height, weight, pixels, pounds, kilograms, inches, feet, foot, convert, conversion, metric, imperial';
        %>
        <%- include('metaTags') %>
        <%- include('structuredData') %>
        
        <link rel="stylesheet" href="/global.css">
        <link rel="stylesheet" href="/utilityPages.css">
        <style>
            li{
                list-style-type:disc;
                margin:0px;
            }
        </style>
    </head>
    <body>
        <%- include('globalStyle') %>
        <%- include('header') %>
        <%- include('accountDisplay') %>
        
        <main class="content about-content" role="main">
            <%- include('sidebar') %>
            
            <article class="about-article guide-container">
                
                <article>
                    <h2>Convert from Mii Height to Feet & Inches/Centimeters</h2>
                    <p class="lead">
                        <div id="convInput">
                            <!--Mii Height/Weight-->
                            <label for="miiHeight" class="miiHeightConvIn">Mii Height</label> <input type="range" min="0" max="127" value="64" class="miiHeight" name="miiHeight"> <input disabled value="64" class="miiHeightConvIn" style="width:2rem;"><br>
                            <label for="miiWeight" class="miiWeightConvIn">Mii Weight</label> <input type="range" min="0" max="127" value="64" class="miiWeight" name="miiWeight"> <input disabled value="64" class="miiWeightConvIn" style="width:2rem;"><br>

                            <!--Feet/Inches, Centimeters-->
                            <label for="feetConvIn" class="lenConvIn">Feet</label> <input name="feet" type="number" min="0" max="7" class="lenConvIn" value="5" style="width:2rem;"> <label for="inchConvIn" class="lenConvIn">Inches</label> <input name="inchConvIn" type="number" min="0" max="84" class="lenConvIn" value="0" style="width:2rem;"><br>
                            <label for="centiConvIn" class="lenConvIn">Centimeters</label> <input name="centi" type="number" min="0" max="213.36" class="lenConvIn" value="152.4" style="width:5.5rem;"><br>

                            <!--Pounds, Kilograms-->
                            <label for="poundsConvIn" class="weightConvIn">Pounds</label> <input name="weight" type="number" min="0" max="351.29" style="width:5.5rem;" value="113.37"><br>
                            <label for="kilosConvIn" class="weightConvIn">Kilograms</label> <input name="weight" type="number" min="0" max="159" style="width:3rem;" value="51">
                        </div>
                    </p>
                </article>
            </article>
            <%- include('featuredMiis') %>
        </main>
        
        <%- include('footer') %>
        <script src="/global.js" defer></script>
        <script src="/miijsFrontendPort.js"></script>
        <script>
            const selectFrom=document.getElementById("selectFrom");
            const selectTo=document.getElementById("selectTo");
            var fromMappings={
                "miiHeight":[
                    "centi",
                    "inches"
                ],
                "centi":[
                    "miiHeight",
                    "inches"
                ],
                "inches":[
                    "miiHeight",
                    "centi"
                ],
                "miiWeight":[
                    "pounds",
                    "kilos"
                ],
                "pounds":[
                    "miiWeight",
                    "kilos"
                ],
                "kilos":[
                    "miiWeight",
                    "kilos"
                ]
            };
            function updateCalcs(el){
                switch(el.name){
                    case "miiHeight":
                        let height=miiHeightToMeasurements(el.value);
                        if(document.getElementById("inches")>12){
                            document.getElementById("feet").value=0;
                            document.getElementById("inches").value=height.totalInches;
                        }
                        else{
                            document.getElementById("feet").value=height.feet;
                            document.getElementById("inches").value=height.inches;
                        }
                        document.getElementById("centi").value=height.centimeters;
                    break;
                    case "miiWeight":
                        let weight=miiWeightToRealWeight(document.getElementById("height").value,el.value);
                        document.getElementById("pounds").value=weight.pounds;
                        document.getElementById("kilos").value=weight.kilograms;
                    break;
                    case "feet":
                        document.getElementById("miiHeight").value=inchesToMiiHeight(el.value*12+document.getElementById("inches").value);
                        document.getElementById("centi").value=(el.value*12+document.getElementById("inches").value)*2.54;
                    break;
                    case "inches":
                        if(el.value>12){
                            document.getElementById("feet").value=0;
                        }
                        document.getElementById("miiHeight").value=inchesToMiiHeight(document.getElementById("feet").value*12+el.value);
                        document.getElementById("centi").value=(document.getElementById("feet").value*12+el.value)*2.54;
                    break;
                    case "centi":
                        if(document.getElementById("inches").value>12){
                            document.getElementById("feet").value=0;
                            document.getElementById("inches").value=el.value/2.54;
                        }
                        else{
                            document.getElementById("feet").value=Math.floor((el.value/2.54)/12);
                            document.getElementById("inches").value=(el.value/2.54)%12;
                        }
                        document.getElementById("miiHeight").value=centimetersToMiiHeight(el.value);
                    break;
                    case "pounds":
                        document.getElementById("miiWeight").value=imperialHeightWeightToMiiWeight(document.getElementById("feet").value*12+document.getElementById("inches").value,el.value);
                        document.getElementById("kilos")=el.value*0.4535924;
                    break;
                    case "kilos":
                        document.getElementById("miiWeight").value=metricHeightWeightToMiiWeight(document.getElementById("centi").value,el.value);
                        document.getElementById("pounds").value=el.value/0.4535924;
                    break;
                }
            }
        </script>
    </body>
</html>