<!DOCTYPE html>
<html>
	<head>
        <%- partials.metaTags %>
        <%- partials.structuredData %>
		<link href="./global.css" rel="stylesheet">
		<link href="./index.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Preload critical resources -->
        <link rel="preload" as="image" href="/banner.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="dns-prefetch" href="https://fonts.googleapis.com">
	</head>
	<body>
        <%- partials.globalStyle %>
		<%- partials.header %>
        <%- partials.accountDisplay %>
		<div class="content">
			<%- partials.sidebar %>
			<div id="browse-miis">
				<% Object.keys(miiCategories).forEach(cat=>{ %>
					<div class="miiCategory">
						<h1><a href="<%= miiCategories[cat].link %>"><%= cat %></a></h1>
						<% miiCategories[cat].miis.forEach(mii=>{ %>
							<a class="miiThumb" href="/mii/<%= mii.id %>">
								<img src="./miiImgs/<%= mii.id %>.png">
								<h3><%= mii.meta.name %></h3>
							</a>
						<% }); %>
					</div>
				<% }); %>
			</div>
			<%- partials.featuredMiis %>
		</div>
        <%- partials.footer %>
		<script src="/global.js"></script>
	</body>
</html>