<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link href="./global.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <%- partials.header %>
        <%- partials.accountDisplay %>
        <div class="content">
            <%- partials.sidebar %>
            <div id="browse-miis">
                <% for(var i=0;i<displayedMiis.length&&i<50;i++){ %>
                    <div class="mii-card" id="<%= displayedMiis[i].id %>">
                        <a href=<%='/mii/' +displayedMiis[i].id %>><img src="miiImgs/<%= displayedMiis[i].id %>.png"></a>
                        <div class="flex">
                            <div>
                                <h3><%= displayedMiis[i].meta.name %></h3>
                                <a href=<%="/user/" +encodeURIComponent(displayedMiis[i].uploader) %>><%=displayedMiis[i].uploader %></a>
                                <p><%= displayedMiis[i].desc.length>75?displayedMiis[i].desc.slice(0,73)+"...":displayedMiis[i].desc %></p>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <%- partials.featuredMiis %>
        </div>
        <%- partials.footer %>
        <script src="/global.js"></script>
    </body>
</html>